<div class="panel panel-default">
<!-- Default panel contents -->
<div class="panel-heading"><span class="lead">Pessoa Jur&#x00ED;dica</span></div>
    <div class="panel-body">
        <div class="formcontainer">
          <div class="alert alert-success" role="alert" ng-if="pessoaJuridicaCtrl.successMessage">{{pessoaJuridicaCtrl.successMessage}}</div>
          <div class="alert alert-danger" role="alert" ng-if="pessoaJuridicaCtrl.errorMessage">{{pessoaJuridicaCtrl.errorMessage}}</div>
          <form ng-submit="pessoaJuridicaCtrl.submit()" name="myForm" class="form-horizontal">
              <input type="hidden" ng-model="pessoaJuridicaCtrl.pessoaJuridica.id" />

              <div class="row">
                  <div class="form-group col-md-12">
                      <label class="col-md-2 control-lable" for="age">CNPJ</label>
                      <div class="col-md-7">
                          <input type="text" ng-model="pessoaJuridicaCtrl.pessoaJuridica.cpfcnpj" id="cnpj" class="form-control input-sm" placeholder="Digite o CNPJ da Pessoa Jur&#x00ED;dica" required/>
                      </div>
                  </div>
              </div>

              <div class="row">
                  <div class="form-group col-md-12">
                      <label class="col-md-2 control-lable" for="uname">Razão Social</label>
                      <div class="col-md-7">
                          <input type="text" ng-model="pessoaJuridicaCtrl.pessoaJuridica.nomeRazaoSocial" id="registration" class="form-control input-sm" placeholder="Digite a Razão Social" required/>
                      </div>
                  </div>
              </div>

              <div class="row">
                  <div class="form-group col-md-12">
                      <label class="col-md-2 control-lable" for="uname">Nome Fantasia</label>
                      <div class="col-md-7">
                          <input type="text" ng-model="pessoaJuridicaCtrl.pessoaJuridica.nomeNomeFantasia" id="uname" class="pessoaJuridicaname form-control input-sm" placeholder="Digite o Nome Fantasia" required ng-minlength="3"/>
                      </div>
                  </div>
              </div>

              <div class="row">
                  <div class="form-actions floatRight">
                      <input type="submit"  value="{{!pessoaJuridicaCtrl.pessoaJuridica.id ? 'Salvar' : 'Atualizar'}}" class="btn btn-primary btn-sm" ng-disabled="myForm.$invalid || myForm.$pristine">

                      <button type="button" ng-click="pessoaJuridicaCtrl.reset()" class="btn btn-warning btn-sm" ng-disabled="myForm.$pristine">Limpar</button>
                  </div>
              </div>
            </form>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading"><span class="lead">Lista de Pessoas Jur&#x00ED;dicas</span></div>
  	<div class="panel-body">
  		<div class="table-responsive">
  	        <table class="table table-hover">
  	            <thead>
  	            <tr>
  	                <th>ID</th>
  	                <th>CNPJ</th>
  	                <th>Nome Fantasia</th>
  	                <th>Razão Social</th>
  	                <th width="100"></th>
  	                <th width="100"></th>
  	            </tr>
  	            </thead>
  	            <tbody>
  	            <tr ng-repeat="u in pessoaJuridicaCtrl.getAllPessoaJuridica()">
  	                <td>{{u.id}}</td>
  	                <td>{{u.cpfcnpj}}</td>
  	                <td>{{u.nomeNomeFantasia}}</td>
  	                <td>{{u.nomeRazaoSocial}}</td>
  	                <td><button type="button" ng-click="pessoaJuridicaCtrl.editPessoaJuridica(u.id)" class="btn btn-success custom-width">Editar</button></td>
  	                <td><button type="button" ng-click="pessoaJuridicaCtrl.removePessoaJuridica(u.id)" class="btn btn-danger custom-width">Remover</button></td>
  	            </tr>
  	            </tbody>
  	        </table>
  		</div>
  	</div>
</div>
